.bottom{
 width: 100%;
 height: 40px;
 background: whitesmoke;
 position: fixed;
 bottom: 0;
 right: 0;
 left: 0;
 display: flex;
 align-items: center;
 justify-content: space-between;
 border-radius: 5px 5px 0 0;
 z-index: 1000;
 @media only screen and (min-width: 426px){
    padding: .1rem 3.5rem;
 }
 @media only screen and (min-width: 769px){
  display: none;
 }

 .name{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  overflow-x: scroll;
  margin-left: 5px;
  background: linear-gradient(105deg, rgb(169, 5, 169), rgb(122, 4, 122), rgb(54, 54, 233));
  padding: .4rem .1rem;
  display: grid;
  place-items: center;

  &::-webkit-scrollbar{
   display: none;
  }

  p{
   font-weight: 600;
   font-size: 1.1rem;
   opacity: 10;
   text-align: center;
   color: gold;
  }

 }

 .darkmode{
  margin-right: 10px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  i{
   font-size: 1.3rem;
  }

  .navigator{
   width: 40px;
   height: 35px;
   display: grid;
   place-items: center;
   border-radius: 3px;

   &:hover{
    background: rgb(2, 2, 63);

    i{
     color: white;
    }

   }

  }

 }

}

// menu dialog
#smallscreenmanu{
 position: fixed;
 left: 10px;
 bottom: -200px;
 width: 96%;
 max-width: 300px;
 margin: 1px auto;
 z-index: 999;
 background: whitesmoke;
 box-shadow: -10px -10px 20px inset rgba(255, 255, 255, .5),
              10px 10px 20px inset rgba(0, 0, 0, .1);

 outline: 1px solid rgb(230, 224, 224);
 border-radius: 5px;
 height: 160px;
 display: flex;
 flex-direction: column;
 padding-top: 1rem;
 transition: all 300ms;
 animation: popup 1.3s ease forwards;
 @keyframes popup {
  from{
   bottom: -200px;
  }
  to{
   bottom: 42px;
  }
 }
 // to show none
 visibility: hidden;
 z-index: -999;



 .close{
 width: 30px;
 height: 30px;
 position: absolute;
 right: 5px;
 top: -20px;
 background: whitesmoke;
 border-radius: 15px;
 box-shadow: -10px -10px 20px inset rgba(255, 255, 255, .5),
              10px 10px 20px inset rgba(0, 0, 0, .1);

 outline: 1px solid rgb(230, 224, 224);
 display: grid;
 place-items: center;
 transition: all 300ms;

 &:hover{
  outline: 1px solid orangered;

  i{
   color: orangered;
  }

 }

  i{
   font-size: 1.2rem;
   color: rgb(3, 85, 85);
  }

 }

 .boxes{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
 }

 .minicard{
  width: 70px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px auto;
  box-shadow: -10px -10px 20px inset rgba(255, 255, 255, .2),
               10px 10px 20px inset rgba(0, 0, 0, .1);

  outline: 1px solid rgb(230, 224, 224);
  border-radius: 3px;

  &:hover{
   outline: 1px solid brown;
   transition: all 300ms;

   i{
    color: blue;
   }

   span{
    opacity: .5;
    transition: all 300ms;
   }

  }
  i{
   font-size: 1.2rem;
   font-weight: 600;
   color: rgb(75, 75, 75)
  }

  span{
   color: rgb(31, 31, 31);
   padding-top: 5px;
  }
  
 }

}



// add this class when the icon is clicked to close menu items
.hidemenudisplay{
 visibility: hidden;
 z-index: -999;
}

// add this class when home is clicked to display the menu items
.showmenuitems{
 z-index: 999;
 visibility: visible;
}
