.skills-container {
  width: 100%;
  margin: 1rem 0rem;
}

@media only screen and (min-width: 769px) {
  .skills-container {
    width: 100%;
    height: 100vh;
  }
}

.skills-container .cover-about {
  width: 96%;
  margin: 1rem auto;
}

@media only screen and (min-width: 426px) {
  .skills-container .cover-about {
    width: 90%;
  }
}

@media only screen and (min-width: 769px) {
  .skills-container .cover-about {
    width: 80%;
    height: 80vh;
  }
}

.skills-container .cover-about .title {
  width: 90%;
  margin: .1rem auto;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media only screen and (min-width: 769px) {
  .skills-container .cover-about .title {
    width: 60%;
    margin: 1rem auto;
  }
}

.skills-container .cover-about .title .maintitle {
  font-size: 1.6rem;
  color: orangered;
  padding: .4rem 1rem;
  font-weight: 600;
}

@media only screen and (min-width: 769px) {
  .skills-container .cover-about .title .maintitle {
    font-size: 2rem;
  }
}

.skills-container .cover-about .about-display {
  width: 96%;
  margin: .6rem auto;
}

@media only screen and (min-width: 426px) {
  .skills-container .cover-about .about-display {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(18rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
}

.skills-container .cover-about .about-display .aboutleft {
  width: 100%;
}

@media only screen and (min-width: 426px) {
  .skills-container .cover-about .about-display .aboutleft {
    width: 70%;
  }
}

.skills-container .cover-about .about-display .aboutleft__top {
  width: 100%;
  padding: .1rem .2rem;
}

.skills-container .cover-about .about-display .aboutleft__top p {
  text-align: center;
  line-height: 1.5rem;
  font-size: 1rem;
}

.skills-container .cover-about .about-display .aboutleft__imageslide {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  margin: 1rem auto;
  overflow: hidden;
}

@media only screen and (min-width: 426px) {
  .skills-container .cover-about .about-display .aboutleft__imageslide {
    height: 300px;
  }
}

@media only screen and (min-width: 769px) {
  .skills-container .cover-about .about-display .aboutleft__imageslide {
    height: 400px;
  }
}

.skills-container .cover-about .about-display .aboutleft__imageslide img {
  width: 100%;
  height: 100%;
}

.skills-container .cover-about .about-display .aboutleft__sociolinks {
  width: 100%;
  margin-bottom: 1rem;
}

.skills-container .cover-about .about-display .aboutleft__sociolinks .links {
  width: inherit;
}

.skills-container .cover-about .about-display .aboutleft__sociolinks .links i {
  font-size: 1.3rem;
  margin-left: 1rem;
  cursor: pointer;
}

.skills-container .cover-about .about-display .aboutright {
  width: 100%;
}

@media only screen and (min-width: 426px) {
  .skills-container .cover-about .about-display .aboutright {
    margin-left: -60px;
    width: 110%;
  }
}

@media only screen and (min-width: 769px) {
  .skills-container .cover-about .about-display .aboutright {
    margin-left: -100px;
  }
}

.skills-container .cover-about .about-display .aboutright__sm-title {
  width: 100%;
  padding: 1rem .4rem;
}

.skills-container .cover-about .about-display .aboutright__sm-title p {
  font-size: 1.2rem;
  color: purple;
  padding: .2rem 0rem;
  font-weight: 600;
}

.skills-container .cover-about .about-display .aboutright__workpage {
  width: 100%;
  margin-top: .2rem;
}

.skills-container .cover-about .about-display .aboutright__workpage .article {
  width: inherit;
}

.skills-container .cover-about .about-display .aboutright__workpage .article__buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
  background: whitesmoke;
  padding: .4rem .1rem;
}

.skills-container .cover-about .about-display .aboutright__workpage .article__buttons::-webkit-scrollbar {
  display: none;
}

.skills-container .cover-about .about-display .aboutright__workpage .article__buttons .btn {
  cursor: pointer;
  margin-left: .6rem;
  margin-right: .6rem;
  outline: none;
  border: none;
  padding: .5rem .6rem;
  border-radius: 3px;
  outline: 1px solid #c3c3c3;
}

.skills-container .cover-about .about-display .aboutright__workpage .article__buttons .active {
  background: white;
}

.skills-container .cover-about .about-display .aboutright__workpage .article__containerdisplay {
  width: 100%;
  margin-top: 1rem;
  padding: .4rem 0rem;
}

.skills-container .cover-about .about-display .aboutright__workpage .article__display-sec {
  width: inherit;
  display: none;
}

.skills-container .cover-about .about-display .aboutright__workpage .article__display-sec .heading {
  font-weight: 600;
  padding-bottom: .4rem;
}

.skills-container .cover-about .about-display .aboutright__workpage .article .active {
  display: block;
}

.bottom {
  width: 100%;
  height: 40px;
  background: whitesmoke;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px 5px 0 0;
  z-index: 1000;
}

@media only screen and (min-width: 426px) {
  .bottom {
    padding: .1rem 3.5rem;
  }
}

@media only screen and (min-width: 769px) {
  .bottom {
    display: none;
  }
}

.bottom .name {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  overflow-x: scroll;
  margin-left: 5px;
  background: linear-gradient(105deg, #a905a9, #7a047a, #3636e9);
  padding: .4rem .1rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.bottom .name::-webkit-scrollbar {
  display: none;
}

.bottom .name p {
  font-weight: 600;
  font-size: 1.1rem;
  opacity: 10;
  text-align: center;
  color: gold;
}

.bottom .darkmode {
  margin-right: 10px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom .darkmode i {
  font-size: 1.3rem;
}

.bottom .darkmode .navigator {
  width: 40px;
  height: 35px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 3px;
}

.bottom .darkmode .navigator:hover {
  background: #02023f;
}

.bottom .darkmode .navigator:hover i {
  color: white;
}

#smallscreenmanu {
  position: fixed;
  left: 10px;
  bottom: -200px;
  width: 96%;
  max-width: 300px;
  margin: 1px auto;
  z-index: 999;
  background: whitesmoke;
  -webkit-box-shadow: -10px -10px 20px inset rgba(255, 255, 255, 0.5), 10px 10px 20px inset rgba(0, 0, 0, 0.1);
          box-shadow: -10px -10px 20px inset rgba(255, 255, 255, 0.5), 10px 10px 20px inset rgba(0, 0, 0, 0.1);
  outline: 1px solid #e6e0e0;
  border-radius: 5px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1rem;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  -webkit-animation: popup 1.3s ease forwards;
          animation: popup 1.3s ease forwards;
  visibility: hidden;
  z-index: -999;
}

@-webkit-keyframes popup {
  from {
    bottom: -200px;
  }
  to {
    bottom: 42px;
  }
}

@keyframes popup {
  from {
    bottom: -200px;
  }
  to {
    bottom: 42px;
  }
}

#smallscreenmanu .close {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5px;
  top: -20px;
  background: whitesmoke;
  border-radius: 15px;
  -webkit-box-shadow: -10px -10px 20px inset rgba(255, 255, 255, 0.5), 10px 10px 20px inset rgba(0, 0, 0, 0.1);
          box-shadow: -10px -10px 20px inset rgba(255, 255, 255, 0.5), 10px 10px 20px inset rgba(0, 0, 0, 0.1);
  outline: 1px solid #e6e0e0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

#smallscreenmanu .close:hover {
  outline: 1px solid orangered;
}

#smallscreenmanu .close:hover i {
  color: orangered;
}

#smallscreenmanu .close i {
  font-size: 1.2rem;
  color: #035555;
}

#smallscreenmanu .boxes {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(6rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
}

#smallscreenmanu .minicard {
  width: 70px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px auto;
  -webkit-box-shadow: -10px -10px 20px inset rgba(255, 255, 255, 0.2), 10px 10px 20px inset rgba(0, 0, 0, 0.1);
          box-shadow: -10px -10px 20px inset rgba(255, 255, 255, 0.2), 10px 10px 20px inset rgba(0, 0, 0, 0.1);
  outline: 1px solid #e6e0e0;
  border-radius: 3px;
}

#smallscreenmanu .minicard:hover {
  outline: 1px solid brown;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

#smallscreenmanu .minicard:hover i {
  color: blue;
}

#smallscreenmanu .minicard:hover span {
  opacity: .5;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

#smallscreenmanu .minicard i {
  font-size: 1.2rem;
  font-weight: 600;
  color: #4b4b4b;
}

#smallscreenmanu .minicard span {
  color: #1f1f1f;
  padding-top: 5px;
}

.hidemenudisplay {
  visibility: hidden;
  z-index: -999;
}

.showmenuitems {
  z-index: 999;
  visibility: visible;
}
/*# sourceMappingURL=import.css.map */