.skills-container {
  width: 100%;
  padding: 1rem 0rem;
}

.skills-container .cover-about {
  width: 96%;
  padding: 1rem .4rem;
}

@media only screen and (min-width: 426px) {
  .skills-container .cover-about {
    width: 90%;
    margin: 1rem auto;
  }
}

@media only screen and (min-width: 769px) {
  .skills-container .cover-about {
    width: 80%;
    margin: 1.5rem auto;
    padding: 1rem 2rem;
  }
}

.skills-container .cover-about .title {
  width: 100%;
  margin: .2rem auto;
}

.skills-container .cover-about .title h1 {
  font-size: 1.6rem;
  color: orangered;
  text-align: center;
  padding: .2rem .1rem;
}

@media only screen and (min-width: 426px) {
  .skills-container .cover-about .title h1 {
    font-size: 2rem;
  }
}

.skills-container .cover-about .about-display {
  width: 100%;
}

@media only screen and (min-width: 426px) {
  .skills-container .cover-about .about-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem auto;
  }
}

.skills-container .cover-about .about-display .aboutleft {
  width: 100%;
  padding: .2rem .2rem;
}

@media only screen and (min-width: 769px) {
  .skills-container .cover-about .about-display .aboutleft {
    width: 400px;
  }
}

.skills-container .cover-about .about-display .aboutleft__top {
  width: 96%;
  margin: .1rem auto;
}

.skills-container .cover-about .about-display .aboutleft__top p {
  font-size: .9rem;
  text-align: center;
  word-spacing: .1rem;
  color: #4b4a4a;
  line-height: 1.5rem;
}

.skills-container .cover-about .about-display .aboutleft__imageslide {
  width: 280px;
  max-width: 280px;
  margin: .4rem auto;
  height: 300px;
  overflow: hidden;
  border-radius: 5px;
}

.skills-container .cover-about .about-display .aboutleft__imageslide img {
  width: 100%;
  height: 100%;
}

.skills-container .cover-about .about-display .aboutleft__sociolinks {
  width: 280px;
  max-width: 280px;
  padding: .6rem .1rem;
}

.skills-container .cover-about .about-display .aboutleft__sociolinks .links {
  width: 100%;
}

.skills-container .cover-about .about-display .aboutleft__sociolinks .links i {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.skills-container .cover-about .about-display .aboutright {
  width: 100%;
  padding: .2rem .2rem;
}

@media only screen and (min-width: 769px) {
  .skills-container .cover-about .about-display .aboutright {
    margin-left: 3rem;
    margin-top: -.4rem;
  }
}

.skills-container .cover-about .about-display .aboutright__sm-title {
  margin: .4rem auto;
}

.skills-container .cover-about .about-display .aboutright__sm-title p {
  font-size: 1.2rem;
  color: black;
  padding: .4rem .2rem;
  font-weight: 600;
}

.skills-container .cover-about .about-display .aboutright__workpage {
  width: 100%;
}

.skills-container .cover-about .about-display .aboutright__workpage .article {
  width: inherit;
}

.skills-container .cover-about .about-display .aboutright__workpage .article__buttons {
  width: 100%;
  padding: .8rem .1rem;
}

.skills-container .cover-about .about-display .aboutright__workpage .article__buttons .swiperbtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: .4rem 0rem;
  overflow-x: scroll;
}

.skills-container .cover-about .about-display .aboutright__workpage .article__buttons .swiperbtns::-webkit-scrollbar {
  display: none;
}

.skills-container .cover-about .about-display .aboutright__workpage .article__buttons .swiperbtns .btn {
  padding: .4rem .6rem;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 3px;
  margin-left: 1rem;
  cursor: pointer;
}

.skills-container .cover-about .about-display .aboutright__workpage .article__buttons .swiperbtns .active {
  background: orange;
}

.skills-container .cover-about .about-display .aboutright__workpage .article__containerdisplay {
  width: 100%;
  padding: .6rem .1rem;
}

.skills-container .cover-about .about-display .aboutright__workpage .article__display-sec {
  width: 96%;
  margin: .1rem auto;
  display: none;
}

.skills-container .cover-about .about-display .aboutright__workpage .article__display-sec .heading {
  width: 100%;
  padding: .2rem auto;
}

.skills-container .cover-about .about-display .aboutright__workpage .article__display-sec p {
  font-size: .9rem;
  line-height: 1.5rem;
  word-spacing: .1rem;
  color: #5a5a5a;
}

.skills-container .cover-about .about-display .aboutright__workpage .article .active {
  display: block;
}

.skills-container .cover-about .about-display .aboutright__workpage .article .active .heading {
  color: orangered;
}

.contacts-container {
  width: 100%;
  padding: 1rem 0rem;
}

.contacts-container .cover-contact {
  width: 96%;
  padding: 1rem .4rem;
}

@media only screen and (min-width: 426px) {
  .contacts-container .cover-contact {
    width: 90%;
    margin: .2rem auto;
  }
}

@media only screen and (min-width: 769px) {
  .contacts-container .cover-contact {
    width: 70%;
    margin: .5rem auto;
    padding: 1rem 2rem;
  }
}

.contacts-container .cover-contact .title {
  width: 100%;
  margin: .1rem auto;
}

.contacts-container .cover-contact .title .maintitle {
  font-size: 1.6rem;
  color: orangered;
  text-align: center;
  padding: .2rem .1rem;
}

@media only screen and (min-width: 426px) {
  .contacts-container .cover-contact .title .maintitle {
    font-size: 2rem;
  }
}

.contacts-container .cover-contact .contactcontent {
  width: 96%;
  margin: .1rem auto;
}

@media only screen and (min-width: 426px) {
  .contacts-container .cover-contact .contactcontent {
    width: 90%;
  }
}

@media only screen and (min-width: 769px) {
  .contacts-container .cover-contact .contactcontent {
    width: 100%;
  }
}

.contacts-container .cover-contact .contactcontent .toplinks {
  width: 100%;
}

@media only screen and (min-width: 426px) {
  .contacts-container .cover-contact .contactcontent .toplinks {
    padding: .2rem .2rem;
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 769px) {
  .contacts-container .cover-contact .contactcontent .toplinks {
    width: 100%;
  }
}

.contacts-container .cover-contact .contactcontent .toplinks__title {
  width: 100%;
  padding: .2rem auto;
}

.contacts-container .cover-contact .contactcontent .toplinks__title h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

.contacts-container .cover-contact .contactcontent .toplinks__linkscards {
  width: 100%;
  padding: .2rem .1rem;
}

@media only screen and (min-width: 426px) {
  .contacts-container .cover-contact .contactcontent .toplinks__linkscards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.contacts-container .cover-contact .contactcontent .toplinks__linkscards .right {
  width: inherit;
}

@media only screen and (min-width: 426px) {
  .contacts-container .cover-contact .contactcontent .toplinks__linkscards .right {
    width: 290px;
  }
}

@media only screen and (min-width: 769px) {
  .contacts-container .cover-contact .contactcontent .toplinks__linkscards .right {
    width: 45%;
  }
}

.contacts-container .cover-contact .contactcontent .toplinks__linkscards .right .card-design {
  width: 100%;
  margin: .4rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .3rem .1rem;
  -webkit-box-shadow: 0 0 10px 2px inset rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 2px inset rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

@media only screen and (min-width: 769px) {
  .contacts-container .cover-contact .contactcontent .toplinks__linkscards .right .card-design {
    margin: .8rem auto;
  }
}

.contacts-container .cover-contact .contactcontent .toplinks__linkscards .right .card-design .icon {
  width: 30px;
  height: 40px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.contacts-container .cover-contact .contactcontent .toplinks__linkscards .right .card-design .icon i {
  font-size: 1.3rem;
}

.contacts-container .cover-contact .contactcontent .toplinks__linkscards .right .card-design .gettouchdesc {
  margin-left: .1rem;
}

.contacts-container .cover-contact .contactcontent .toplinks__linkscards .right .card-design .gettouchdesc a {
  color: black;
}

.contacts-container .cover-contact .contactcontent .toplinks__linkscards .left {
  width: inherit;
}

@media only screen and (min-width: 426px) {
  .contacts-container .cover-contact .contactcontent .toplinks__linkscards .left {
    width: 290px;
  }
}

@media only screen and (min-width: 769px) {
  .contacts-container .cover-contact .contactcontent .toplinks__linkscards .left {
    width: 45%;
  }
}

.contacts-container .cover-contact .contactcontent .toplinks__linkscards .left .card-design {
  width: 100%;
  margin: .4rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .3rem .1rem;
  -webkit-box-shadow: 0 0 10px 2px inset rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 2px inset rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

@media only screen and (min-width: 769px) {
  .contacts-container .cover-contact .contactcontent .toplinks__linkscards .left .card-design {
    margin: .8rem auto;
  }
}

.contacts-container .cover-contact .contactcontent .toplinks__linkscards .left .card-design .icon {
  width: 30px;
  height: 40px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.contacts-container .cover-contact .contactcontent .toplinks__linkscards .left .card-design .icon i {
  font-size: 1.3rem;
}

.contacts-container .cover-contact .contactcontent .toplinks__linkscards .left .card-design .gettouchdesc {
  margin-left: .1rem;
}

.contacts-container .cover-contact .contactcontent .toplinks__linkscards .left .card-design .gettouchdesc a {
  color: black;
}

.contacts-container .cover-contact .contactcontent .bottomform {
  width: 100%;
}

@media only screen and (min-width: 426px) {
  .contacts-container .cover-contact .contactcontent .bottomform {
    width: 90%;
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 769px) {
  .contacts-container .cover-contact .contactcontent .bottomform {
    width: 100%;
  }
}

.contacts-container .cover-contact .contactcontent .bottomform__title {
  width: 100%;
  padding: .2rem auto;
}

.contacts-container .cover-contact .contactcontent .bottomform__title h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

.contacts-container .cover-contact .contactcontent .bottomform .contactform {
  width: 100%;
  padding: .4rem .2rem;
}

@media only screen and (min-width: 426px) {
  .contacts-container .cover-contact .contactcontent .bottomform .contactform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts-container .cover-contact .contactcontent .bottomform .contactform .left-section {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(8rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  margin-bottom: 1rem;
}

@media only screen and (min-width: 426px) {
  .contacts-container .cover-contact .contactcontent .bottomform .contactform .left-section {
    width: 280px;
  }
}

@media only screen and (min-width: 769px) {
  .contacts-container .cover-contact .contactcontent .bottomform .contactform .left-section {
    width: 30%;
  }
}

.contacts-container .cover-contact .contactcontent .bottomform .contactform .left-section .simplecard {
  width: 120px;
  height: 100px;
  max-width: 120px;
  margin: .2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 3px;
  -webkit-box-shadow: -10px -10px 20px inset rgba(255, 255, 255, 0.6), 10px 10px 20px inset rgba(0, 0, 0, 0.1);
          box-shadow: -10px -10px 20px inset rgba(255, 255, 255, 0.6), 10px 10px 20px inset rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 426px) {
  .contacts-container .cover-contact .contactcontent .bottomform .contactform .left-section .simplecard {
    margin: 1rem auto;
  }
}

.contacts-container .cover-contact .contactcontent .bottomform .contactform .left-section .simplecard .icon {
  font-size: 2rem;
  font-weight: 600;
}

.contacts-container .cover-contact .contactcontent .bottomform .contactform .left-section .simplecard p {
  font-size: 1.5rem;
  font-weight: 600;
  color: purple;
}

.contacts-container .cover-contact .contactcontent .bottomform .contactform .left-section .simplecard .ratting {
  width: 100%;
}

.contacts-container .cover-contact .contactcontent .bottomform .contactform .left-section .simplecard .ratting i {
  color: gold;
}

.contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection {
  width: 290px;
  padding: 1rem .1rem;
  margin: .1rem auto;
}

@media only screen and (min-width: 769px) {
  .contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection {
    width: 70%;
  }
}

.contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form {
  width: 100%;
  padding: 1rem .6rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 1px inset rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 1px inset rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 426px) {
  .contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form {
    width: 350px;
    margin-left: .2rem;
  }
}

@media only screen and (min-width: 769px) {
  .contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form {
    width: 100%;
  }
}

@media only screen and (min-width: 769px) {
  .contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form .large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form .large .form-field {
    width: 45%;
    margin: 0rem auto;
  }
}

.contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form .form-field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: .6rem auto;
}

@media only screen and (min-width: 769px) {
  .contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form .form-field {
    margin: 1rem auto;
    width: 95%;
  }
}

.contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form .form-field span {
  font-weight: 600;
  color: #5c5a5a;
  padding-bottom: .2rem;
}

.contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form .form-field label {
  font-weight: 600;
  color: #5c5a5a;
  padding-bottom: .2rem;
}

.contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form .form-field textarea {
  border: none;
  outline: none;
  padding: .4rem .4rem;
  width: 100%;
  -webkit-box-shadow: 0 0 5px 1px inset rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 1px inset rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 769px) {
  .contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form .form-field textarea {
    padding: 1rem 1rem;
  }
}

.contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form .form-field input {
  border: none;
  outline: none;
  padding: .4rem .4rem;
  width: 100%;
  -webkit-box-shadow: 0 0 5px 1px inset rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 1px inset rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 769px) {
  .contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form .form-field input {
    padding: 1rem 1rem;
  }
}

.contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form #file {
  display: none;
}

@media only screen and (min-width: 769px) {
  .contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form #file {
    margin: 1rem auto;
  }
}

.contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .6rem auto;
}

@media only screen and (min-width: 769px) {
  .contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form .check {
    width: 95%;
    margin: .2rem auto;
    cursor: pointer;
  }
}

.contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form .check label {
  margin-left: .2rem;
  font-style: italic;
}

@media only screen and (min-width: 769px) {
  .contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form .check {
    margin: 1rem auto;
  }
}

.contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form .form-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: .6rem auto;
}

@media only screen and (min-width: 769px) {
  .contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form .form-buttons {
    margin: 1rem auto;
  }
}

.contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form .form-buttons input {
  padding: .4rem .8rem;
  margin-left: .5rem;
  margin-right: .5rem;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px 1px inset rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 1px inset rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 769px) {
  .contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form .form-buttons input {
    padding: 1rem 1rem;
  }
}

.contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form .form-buttons input:nth-child(1) {
  background: orangered;
}

.contacts-container .cover-contact .contactcontent .bottomform .contactform .rightsection form .form-buttons input:nth-child(2) {
  background: green;
}

.project-container {
  width: 100%;
  padding: 1rem 0rem;
}

.project-container .cover-projects {
  width: 96%;
  padding: 1rem .4rem;
}

@media only screen and (min-width: 426px) {
  .project-container .cover-projects {
    width: 90%;
    margin: .2rem auto;
  }
}

@media only screen and (min-width: 769px) {
  .project-container .cover-projects {
    width: 80%;
    margin: 1rem auto;
    padding: 1rem 2rem;
  }
}

.project-container .cover-projects .title {
  width: 100%;
  margin: .1rem auto;
}

.project-container .cover-projects .title .maintitle {
  font-size: 1.6rem;
  color: orangered;
  text-align: center;
  padding: .2rem .1rem;
}

@media only screen and (min-width: 426px) {
  .project-container .cover-projects .title .maintitle {
    font-size: 2rem;
  }
}

.project-container .cover-projects .projectcontainer {
  width: 100%;
}

@media only screen and (min-width: 426px) {
  .project-container .cover-projects .projectcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2rem;
  }
}

@media only screen and (min-width: 769px) {
  .project-container .cover-projects .projectcontainer {
    height: 80vh;
  }
}

.project-container .cover-projects .projectcontainer .finals {
  width: 100%;
}

@media only screen and (min-width: 426px) {
  .project-container .cover-projects .projectcontainer .finals {
    width: 400px;
  }
}

@media only screen and (min-width: 769px) {
  .project-container .cover-projects .projectcontainer .finals {
    width: 100%;
  }
}

.project-container .cover-projects .projectcontainer .finals__protitle {
  width: inherit;
  margin: .4rem 1rem;
}

.project-container .cover-projects .projectcontainer .finals__protitle h1 {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: .6rem;
}

.project-container .cover-projects .projectcontainer .finals__display-cnt {
  width: inherit;
}

.project-container .cover-projects .projectcontainer .finals__contents {
  width: 100%;
}

.project-container .cover-projects .projectcontainer .finals__navigators {
  width: 94%;
  margin: .1rem auto;
  padding: .4rem .1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
}

.project-container .cover-projects .projectcontainer .finals__navigators::-webkit-scrollbar {
  width: 0;
}

.project-container .cover-projects .projectcontainer .finals__navigators a {
  padding: .4rem 1rem;
  border-radius: 3px;
  outline: 1px solid #cbc8c8;
  margin-left: 1rem;
  background: transparent;
  color: #121111;
}

.project-container .cover-projects .projectcontainer .finals__showcards {
  width: 96%;
  margin: .1rem auto;
  padding: .4rem .6rem;
}

@media only screen and (min-width: 426px) {
  .project-container .cover-projects .projectcontainer .finals__showcards {
    width: 100%;
    height: 350px;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 769px) {
  .project-container .cover-projects .projectcontainer .finals__showcards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 60vh;
  }
  .project-container .cover-projects .projectcontainer .finals__showcards::-webkit-scrollbar {
    display: none;
  }
}

.project-container .cover-projects .projectcontainer .finals__card {
  width: 280px;
  max-width: 280px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: .5rem auto;
}

@media only screen and (min-width: 769px) {
  .project-container .cover-projects .projectcontainer .finals__card {
    width: 250px;
    height: 270px;
  }
}

.project-container .cover-projects .projectcontainer .finals__card .front {
  width: 100%;
  height: 100%;
}

.project-container .cover-projects .projectcontainer .finals__card .front img {
  width: 100%;
  height: 100%;
}

.project-container .cover-projects .projectcontainer .finals__card .back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding: 1rem 1rem;
  background: rgba(0, 0, 0, 0.6);
}

.project-container .cover-projects .projectcontainer .finals__card .back .text {
  width: 100%;
  margin: 1rem auto;
}

.project-container .cover-projects .projectcontainer .finals__card .back .text p {
  color: white;
  font-weight: 600;
}

.project-container .cover-projects .projectcontainer .finals__card .back p {
  line-height: 1.5rem;
  word-spacing: .1rem;
  font-size: 1rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-container .cover-projects .projectcontainer .finals__card .back a {
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.project-container .cover-projects .projectcontainer .finals__card .back a p {
  font-weight: 600;
}

.project-container .cover-projects .projectcontainer .finals__card .back a span {
  margin-left: .8rem;
}

.project-container .cover-projects .projectcontainer .finals__card .back a span i {
  margin-left: .1rem;
  color: #1d1df7;
}

.project-container .cover-projects .projectcontainer .prototype {
  width: 100%;
  padding: .1rem .2rem;
}

@media only screen and (min-width: 769px) {
  .project-container .cover-projects .projectcontainer .prototype {
    width: 300px;
  }
}

.project-container .cover-projects .projectcontainer .prototype__protitle {
  width: inherit;
  margin: .4rem 1rem;
}

.project-container .cover-projects .projectcontainer .prototype__protitle h1 {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: .6rem;
}

.project-container .cover-projects .projectcontainer .prototype .prototypeimage {
  width: 96%;
  margin: .1rem auto;
}

.project-container .cover-projects .projectcontainer .prototype .prototypeimage .contents {
  width: 280px;
  max-width: 280px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  margin: .2rem auto;
}

@media only screen and (min-width: 769px) {
  .project-container .cover-projects .projectcontainer .prototype .prototypeimage .contents {
    margin-top: 3rem;
  }
}

.project-container .cover-projects .projectcontainer .prototype .prototypeimage .contents img {
  width: 100%;
  height: 100%;
}

.project-container .cover-projects .projectcontainer .prototype .prototypeimage .contents .category {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding: 1rem 1rem;
  background: rgba(0, 0, 0, 0.6);
  margin: .1rem auto;
}

.project-container .cover-projects .projectcontainer .prototype .prototypeimage .contents .category h1 {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem .2rem;
  color: white;
}

.project-container .cover-projects .projectcontainer .prototype .prototypeimage .contents .category p {
  line-height: 1.5rem;
  color: white;
  font-size: 1rem;
  word-spacing: .2rem;
}

.service-container {
  width: 100%;
  padding: 1rem 0rem;
}

.service-container .cover-services {
  width: 96%;
  padding: 1rem .4rem;
}

@media only screen and (min-width: 426px) {
  .service-container .cover-services {
    width: 90%;
    margin: .2rem auto;
  }
}

@media only screen and (min-width: 769px) {
  .service-container .cover-services {
    width: 80%;
    margin: 1rem auto;
    padding: 1rem 2rem;
  }
}

.service-container .cover-services .title {
  width: 100%;
  margin: .1rem auto;
}

.service-container .cover-services .title .maintitle {
  font-size: 1.6rem;
  color: orangered;
  text-align: center;
  padding: .2rem .1rem;
}

@media only screen and (min-width: 426px) {
  .service-container .cover-services .title .maintitle {
    font-size: 2rem;
  }
}

.service-container .cover-services .covercard {
  margin: 1rem auto;
  width: 100%;
  padding: .2rem .2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

.service-container .cover-services .covercard .cardcontent {
  width: 280px;
  height: 260px;
  margin: .6rem auto;
  padding: .4rem .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service-container .cover-services .covercard .cardcontent i {
  font-size: 5rem;
  font-weight: 600;
}

.service-container .cover-services .covercard .cardcontent__text {
  font-size: .8rem;
  text-align: center;
  line-height: 2rem;
}

.service-container .cover-services .covercard .cardcontent .email {
  font-size: .9rem;
  font-weight: 600;
}
/*# sourceMappingURL=import.css.map */